[submodule "vendor/github.com/powerline/fonts"]
	path = vendor/github.com/powerline/fonts
	url = https://github.com/powerline/fonts
[submodule "vendor/go.googlesource.com/image"]
	path = vendor/go.googlesource.com/image
	url = https://go.googlesource.com/image
[submodule "vendor/KeyBindings"]
	path = vendor/KeyBindings
	url = https://github.com/ttscoff/KeyBindings
[submodule "vendor/skills"]
	path = vendor/skills
	url = https://github.com/anthropics/skills.git
